.gestionContainer {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  background: linear-gradient(135deg, #3d918c, #29b9b9);
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.titulo {
  text-align: center;
  font-size: 34px;
  margin-bottom: 30px;
  color: #fdfdfd;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.accionesSuperior {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  margin-bottom: 30px;
}

.inputBuscar {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  width: 280px;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #333;
}

.inputBuscar:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.tablaWrapper {
  overflow-x: auto;
  margin-top: 20px;
}

.tablaUsuarios {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: transparent;
}

.tablaUsuarios th {
  background-color: #2c3e50;
  color: white;
  padding: 12px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.tablaUsuarios td {
  background-color: white;
  color: #333;
  text-align: center;
  padding: 14px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.seleccionado td {
  background-color: #bbdefb !important;
  color: #000;
}

.formContainer {
  background: white;
  color: #333;
  border-radius: 20px;
  padding: 40px;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.formBox {
  display: flex;
  flex-direction: column;
}

.formBox h3 {
  text-align: center;
  color: #3b3604;
  font-size: 28px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.formBox input,
.formBox select {
  margin-bottom: 18px;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #b2dfdb;
  border-radius: 12px;
  background: #f9f9f9;
  transition: border-color 0.3s ease;
}

.formBox input:focus,
.formBox select:focus {
  outline: none;
  border-color: #26a69a;
  box-shadow: 0 0 6px rgba(38, 166, 154, 0.4);
}

/*
.botonesForm {
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}

.botonesForm button {
  padding: 12px 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonesForm button:hover {
  background-color: #34495e;
}
*/
/* Responsive */
@media (max-width: 768px) {
  .formContainer {
    padding: 25px;
  }

  .accionesSuperior {
    flex-direction: column;
    align-items: center;
  }

  .inputBuscar {
    width: 100%;
    max-width: 300px;
  }

  .botonesForm {
    flex-direction: column;
    width: 100%;
  }

  .botonesForm button {
    width: 100%;
  }
}
