.contador-container {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.contador-container:fullscreen {
  width: 100%;
  height: 100%;
}

.contador-container h1 {
  font-size: 5rem;
  margin: 0;
}

.mensaje-ticker {
  position: absolute;
  bottom: 30px;
  width: 100%;
  overflow: hidden;
  height: 3rem;
}

.mensaje-ticker span {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  animation: ticker 15s linear forwards;
  font-size: 2rem;
  color: white;
}

@keyframes ticker {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.botones-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

button {
  background-color: #1976d2;
  border: none;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 120px;
  box-sizing: border-box;
}

.btn-fullscreen:hover {
  background-color: #115293;
}
